/*history content*/
.history-container-subtext p {
    font-size: 20px;
}

.history-container-img img {
    border: 10px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

/*extra responsives*/

@media only screen and (max-width: 424px) {
    .history-container-img img {
        border: none;
    }
}

@media only screen and (max-width: 380px) {
    #creator-img {
        width: 55%;
        min-width: 220px;
    }
}