@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Righteous", cursive;
}

/*Custom colors*/

.text-burger {
  color: #ffc894;
}

.text-ketchup {
  color: #FF6B6B;
}

.bg-notcross {
  background-image: url('../img/nocross.png');
  background-repeat: no-repeat;
}

/*Custom colors end*/

.container-fluid {
  background-color: #252525;
}

/*Nav styles*/

.nav {
  padding: 10px;
}

.nav a {
  font-size: 20px;
  color: azure;
  padding: 10px;
}

@media only screen and (max-width: 380px) {
  .nav a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .nav a {
    font-size: 12px;
  }
}

.nav a:hover {
  color: #f3a366;
}

/*Section2 styles*/

.section-2-title-img {
  width: 200px;
}

.section-2-text {
  width: 1hv;
}

.section-2-button-btn {
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  color: #1a1a1a;
  background-color: #C4C4C4;
}

.section-2-separator-text {
  font-size: 28px;
}

.section-2-img {
  width: 200px;
}

/*Section3 styles*/

.section-3-card {
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 18rem;
  border-radius: 60px;
  margin: 50px;
}

@media only screen and (max-width: 450px) {
  .section-3-card {
    width: 10rem;
  }
}

.section-3-card:hover  {
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

.section-3-card h3{
  color: #cfcfcf;
}

.section-3-card p{
  color: #b9b9b9;
}

.section-4-review-content-image {
  border-radius: 100%;
  width: 200px;
}

footer li a{
  color: #C4C4C4;
}

footer li a:hover {
  color: #a0a0a0;
}

footer span img {
  cursor: pointer;
}



