.order-content-card {
    margin: 30px;
}

.order-content-card-btn {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(228, 107, 107);
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
}

.order-content-card-btn:hover {
    transition: all .3s ease;
    background-color: rgb(177, 23, 23);
}